name: Deploy Node App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_KEY }}" > ~/.ssh/ec2.pem
        chmod 600 ~/.ssh/ec2.pem
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

    - name: Deploy to EC2
      run: |
        ssh -i ~/.ssh/ec2.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'

        cd ~/AWS/student || exit 1

        git pull origin main

        npm install

        echo "PORT=${{ secrets.PORT }}" > .env
        echo "MONGO_URI=${{ secrets.MONGO_URI }}" >> .env

        pm2 stop student-app || true
        pm2 start server.js --name student-app
        pm2 save

        EOF
